# Xcode
.DS_Store
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
*.xcuserstate

# Swift Package Manager
Packages/
Package.pins
Package.resolved
.swiftpm/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Accio dependency management
Dependencies/
.accio/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/readme.md

# Code Injection
ci/

# AppCode
.idea/

# SPM
.build/

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Other
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Personal settings
*.xcuserdatad/

# Firebase
GoogleService-Info.plist
